
  div{
    margin-bottom: 0px;
  }

  body{
    background-color: #FCFCF7;
  }

  .jumbotron{

  }

  h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 30px;
    color: black;
    padding-top: 0px;
    margin-top: 0px;
  }
  h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    color: black;
    margin-left: 6px;
    padding-top: 5px;
  }
  h3{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 12px;
    font-size: 17px;
    color: black;
  }
  h4{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 38px;
    color: black;
    font-weight: bold;

  }
  li{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
  }
  .description{
    text-align: left;
    font-size: 17px;
    color: black;
  }
  .button_font{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 13px;
    color: white;
    margin-left: 13px;
  }
  p{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin: auto;
  }

    .box-one{
      border-style: hidden;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
    }
    .box-two{
      border-style: hidden;
      padding: 0px;
      margin-top: 7px;
      background-color: #E2E2DE;
    }

    /*blue bottom box*/
    .box-three{
      border-style: hidden;
      padding: 100px;
      margin-top: 0px;
      background-color: #0000A3;
    }


    .button{
      background-color: #E2E2DE;
      border: none;
      color: black;
      padding: 6px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 1px 0px;
      cursor: pointer;
    }
    .button:hover{
      background-color: #000000;
      color: white;
    }
